{{ define "main" }}

<div class="box_generic intro_community">
    <div class="box nonflex">
        <h1>{{.Title}}</h1>

        <p>PINE64 has a large, diverse and active community, and offers a variety of resources for hobbyists and businesses to successfully leverage various PINE64 products.</p>
        
        <p>To become connected and involved with the community, please see the channel list below for a list of available channels and chat platforms.</p>
    </div>
</div>

<div class="center-container">
    <div class="center-contents">
        <!-- "{{.Content}}" pulls from the markdown content of the corresponding _index.md -->
        {{.Content}}
    </div>
</div>

{{ end }}