{{ define "main" }}

<div class="box full themecommunity">
    <div class="box pad rows">
        <h1>{{.Title}}</h1>

        <p>PINE64 has a large, diverse and active community, and offers a variety of resources for hobbyists and businesses to successfully leverage various PINE64 products.</p>
        
        <p>To become connected and involved with the community, please see the channel list below for a list of available channels and chat platforms.</p>
    </div>
</div>

<div class="box pad rows">
    {{.Content}}
</div>

{{ end }}