<div class='box {{ if .Get "style" }} {{ .Get "style" }}{{ end }}'>
    {{- if eq (.Get "type") "image" -}}
        <img src='{{ .Get "link" }}' {{ if isset .Params "height" }} height='{{ .Get "height" }}'{{ end }}{{ if isset .Params "width" }} width='{{ .Get "width" }}'{{ end }} alt="An image in a box">
    {{- else -}}
        {{ if .Get "title" }}<h1>{{ .Get "title" | safeHTML }}</h1>{{- end -}}

        {{- if .Get "content" -}}
            {{- if eq (.Get "content") "adoc" -}}
                {{ .Inner | .Page.RenderString (dict "markup" "adoc") }}
            {{- else if eq (.Get "content") "markdown" -}}
                {{ .Inner | markdownify }}
            {{- end -}}
        {{- else -}}
            {{ .Inner }}
        {{- end -}}
    {{- end -}}
</div>