<div class='box {{ if .Get "style" }}{{ .Get "style" }}{{ end }}'>
    <div class="box">
        <h1>{{ .Get "title" }}</h1>
    </div>

    <div class="box gap cols">
        {{ $type := .Get "type" }}
        
        {{ range ( where .Site.RegularPages "Type" $type | first (.Get "amount") ) }}
            <div class="box f50 themeblogpreview rounded l400">
                <a href="{{ .RelPermalink }}">
                    {{if and (isset .Params.cover "image") (ne .Params.cover.image "") }}
                        <img src="/{{$type}}/images/{{ .Params.cover.image }}"/>
                    {{end}}

                    <div class="pad_s">
                        <h3>{{ .Title }}</h3>
                        <p>{{ .Summary }}</p>
                        
                        <br>
                        <div>
                          <a href="{{ .RelPermalink }}">Read More</a>
                        </div>
                    </div>
                </a>
            </div>
        {{end}}
    </div>

    <div class="box pad">
        <a href="/{{$type}}/"><button class="rounded center">View all</button></a>
    </div>

</div>