<div class='box {{ if .Get "style" }}{{ .Get "style" }}{{ end }}'>
    <div class="box">
        <h1>{{ .Get "title" }}</h1>
    </div>

    <div class="box gap cols">
        {{ $type := .Get "type" }}
        
        {{ range ( where .Site.RegularPages "Type" $type | first (.Get "amount") ) }}
            <div class="box f50 themeblogpreview l400 index_news">
                <a href="{{ .RelPermalink }}" aria-label="A news box linking to a blog post">
                    {{if and (isset .Params.cover "image") (ne .Params.cover.image "") }}
                        <img src="/{{$type}}/images/{{ .Params.cover.image }}" alt="Image of the post {{ .Title }}">
                    {{end}}

                    <div class="pad_s">
                        <h2>{{ .Title }}</h2>
                        <p>{{ .Summary | plainify }}</p>
                        
                        <br>
                        <div>
                          <strong>Read the full news</strong>
                        </div>
                    </div>
                </a>
            </div>
        {{end}}
    </div>

    <div class="box pad">
        <a href="/{{$type}}/"><div class="roundedbutton center">View all</div></a>
    </div>

</div>