<div class="boxhalf">
    {{- if eq (.Get "type") "image" -}}
        <img src='{{ .Get "link" }}' {{- if isset .Params "height" -}}height='{{- .Get "height" -}}'{{- else -}}{{- end -}}>
    {{- else -}}
        <h1>{{ .Get "title" }}</h1>
        <p>
        {{- if .Get "content" -}}
            {{- if eq (.Get "content") "adoc" -}}
                {{ .Inner | .Page.RenderString (dict "markup" "adoc") }}
            {{- else if eq (.Get "content") "markdown" -}}
                {{ .Inner | markdownify }}
            {{- end -}}
        {{- else -}}
            {{ .Inner }}
        {{- end -}}
        </p>
    {{- end -}}
</div>