{{- $src := .Get "src" -}}
{{- $title := .Get "title" -}}
{{- $text := .Get "text" -}}
{{- $link := .Get "link" -}}
{{- $num := .Get "num" -}}

{{- with .Parent -}}

<input class="cr-open" type="radio" id="cr-{{ $num }}" name="cr" aria-hidden="true" hidden="" {{if eq $num "1"}}checked="checked"{{end}}>
<div class="cr-item">
    <div class="cr-center">
        <div class="cr-left">
            <div class="cr-img">
                <img src="{{ $src }}" alt="{{ $title | safeHTML }}">
            </div>
        </div>
        <div class="cr-right">
            <h2>{{ $title | safeHTML }}</h2>

            <span>{{ $text | safeHTML }}</span>

            <br><br><br>
            <a href="{{ $link }}">View the details</a>
        </div>
    </div>
</div>

{{- end -}}