{{ $slides := (strings.Count "<img" .Inner) }}
{{ $sec := .Get "seconds" }}

<style>
.slideshow {width:350px; height:300px; overflow:hidden; position:relative; }
.slideshow img{ position:absolute; animation:slideshow_anim {{ mul $slides $sec }}s infinite; opacity:0; width: 100%; height: auto;}

@keyframes slideshow_anim {25%{opacity:1;} 40%{opacity:0;}}
{{ range $index, $num := (seq $slides) }}
  .slideshow img:nth-child({{ $num }}){animation-delay: {{ mul $index $sec }}s;}
{{ end }}
</style>

<div class="slideshow">
{{ .Inner }}
</div>