{{ define "main" }}



<!--
    <div class="blog-list-title"><h1>{{ .Title }}</h1></div>
-->

<!-- Get the RSS feed URL -->
{{ with .OutputFormats.Get "rss" -}}
{{ $rss := .Permalink | safeHTML }}

<div class="container podcast_intro">
    <div class="box nonflex">
        <h1>PineTalk</h1>

        <p>We discuss PINE64 hardware, software development and open source in general. Send in your questions! A community ran podcast for the community.</p><br>

        <a href="#podcast_newest_anchor"><button class="podcast podcast-blue">▶&nbsp;&nbsp; Play the newest episode</button></a> <a href="{{ $rss }}"><button class="podcast">Get the RSS feed</button></a>

    </div>
</div>

{{ end -}}

<div class="podcast-container">

<!-- Section: Newest episode -->
<h1 id="podcast_newest_anchor">Newest episode</h1>

    {{ range ( where .Site.RegularPages "Type" "podcast" | first 1 ) }}
    <h3>{{ .Title }}</h3>

    <!-- Variant 1: Just get the player, split it at first paragraph to exclude the episode description -->
    {{ $summary := index (split .Content "</p>") 0 }}
    {{ printf $summary | safeHTML }}

    <!-- Variant 2: Complete episode page -->
    <!--
    .Content
    -->

    <p>
        <a href="{{ .RelPermalink }}"><button class="podcast podcast-blue">Open the full episode page</button></a>
    </p>

{{end}}



<!-- Section: All episodes -->
<h1>All episodes</h1>


{{ $paginator := .Paginate (where .Data.Pages "Type" "podcast") 4 }}

{{ range $paginator.Pages.ByDate.Reverse }}

<div class="clearfix">
<div class="podcast_row">
    <a class="summary" href="{{ .RelPermalink }}">
    <img class="coverimg" src="/img/pinetalk.png">
    <div class="podcast_desc">
        <h3>{{ .Title }}</h3>

        {{ $dateTime := .PublishDate.Format "2006-01-02" }}
        {{ $dateFormat := .Site.Params.dateFormat | default "Jan 2, 2006" }}

        <p>{{ .PublishDate.Format $dateFormat }}</p>

        <p>{{ .Description }}</p>
    </div>

    </a>
</div>
</div>

{{ end }}


{{ template "_internal/pagination.html" . }}

</div>

{{ end }}

