{{ define "main" }}
    <div class="box full">
        <div class="box rows pad">
            <div class="box rows pad_s">
                <a href="/podcast/" class="backlink"><img src = "/img/arrow_left.svg" width="14">All podcasts</a>
            </div>
            <div class="box rows ">
                <header>
                    <h1>{{.Title}}</h1>
                </header>
                <!-- ".Content" pulls from the markdown content of the corresponding _index.md -->
                {{.Content}}
            </div>
        </div>
    </div>
{{ end }}