<div id="doc-breadcrumbs">
    <div id="doc-breadcrumbs-contents">
           
            <ul class="breadcrumbs">
                <span id="doc-breadcrumbs-icon"><img src="/img/tree.svg" alt="Tree symbol for the breadcrumbs"></span>
                {{ range .Ancestors.Reverse }}

                    <!-- Filter top level -->
                    {{ if ne .Kind "home" }}

                    <a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a> /

                    {{ end }}
                {{ end }}

                <!-- Current -->
                {{ .Title }}
              
            </ul>

    </div>
    <div>
        <span class="editpage">
            <a href="https://github.com/pine64/website/edit/main/content/{{ .File.Path }}" target="_blank">Edit&nbsp;page</a>
        </span>
    </div>
</div>