{{ $pn := .File.BaseFileName }}
<!-- sidebar start -->
<nav class="sidebar-nav">
    {{ $currentPage := . }}

    <!-- If on a full page -->
    {{ if isset .Params "full_section" }}

    {{ else }}

        <!-- Categories -->
        {{ range .Site.Menus.docs }}

            <!-- Displays only current category -->
            {{ if or ($currentPage.IsMenuCurrent "docs" .) ($currentPage.HasMenuCurrent "docs" .) }} 
                <!-- Hide "Main Page"-->
                {{ if ne .URL "/documentation/" }}
                    <a class='doc-nav-head doc-nav-item' href="{{ .URL }}">{{ .Name }}</a>
                {{ end }}

            {{ end }}

            
            {{ if and .HasChildren (or ($currentPage.IsMenuCurrent "docs" .) ($currentPage.HasMenuCurrent "docs" .)) }}
    
            <ul><li>

                <!-- Children -->
                {{ range .Children }}
                
                    {{ if .HasChildren }}
                        <li class='collapsible {{if $currentPage.IsMenuCurrent "docs" .}}c_active{{end}}'><a class='doc-nav-item {{if $currentPage.IsMenuCurrent "docs" .}}active{{end}}' href='{{.URL}}'>{{ .Title }}</a><span class="button_collapse" onclick="toggleChildren(event)">⌄</span>
                    {{ else  }}
                        <li><a class='doc-nav-item {{if $currentPage.IsMenuCurrent "docs" .}}active{{end}}' href='{{.URL}}'>{{ .Title }}</a>
                    {{ end }}

                    {{ if .HasChildren }}
                        <ul>

                        <!-- Children-Children -->
                        {{ range .Children }}
                            <li><a class='doc-nav-item {{if $currentPage.IsMenuCurrent "docs" .}}active{{end}}' href='{{.URL}}'>{{ .Title }}</a></li>
                        {{ end }}

                        </ul>
                    {{ end }}
                    </li>
                {{ end }}

                </li></ul>
            {{ end }}
        {{ end }}
    {{ end }}
</nav>

<script>
// Hide all ULs by default (if JS is activated)
document.querySelectorAll('#doc-nav .collapsible > ul').forEach(ul => {
  ul.style.display = 'none';
});

// Collapse toggle function
function toggleChildren(event) {
    const li = event.target.closest('li'); // Get the closest li element
    const children = li.querySelector('ul'); // Get the children ul

    if (children) {
        // Toggle the display of children
        if (window.getComputedStyle(children).display !== 'none') {
            children.style.display = 'none';
        } else {
            children.style.display = 'block';
        }
    }
}
</script>

<script>
// Inflate all parents of an active item
document.querySelectorAll('.collapsible').forEach(collapsible => {
  if (collapsible.querySelector('a.active')) {
    collapsible.querySelectorAll('ul').forEach(ul => {
      ul.style.display = 'block';
    });
  }
});
</script>