{{ $pn := .File.BaseFileName }}
<!-- sidebar start -->
<nav class="sidebar-nav">
    {{ $currentPage := . }}

    <!-- If on the main page -->
    {{ if eq .RelPermalink "/documentation/" }}
        <h3>Table of contents</h3>
        {{ .TableOfContents }}

    <!-- If on a full page -->
    {{ else if isset .Params "full_section" }}

        {{ $section := .Site.GetPage "section" (printf "/documentation/%s/" .Params.full_section) }}
        
        <h3>Table of contents</h3>
        <ul>
        {{ range $section.Pages.ByParam "menu.docs.weight"}}

            <li>
                <strong>
                    <a class="sidebar-nav-subitem" href="#{{ .Title | anchorize }}">{{ .Title }}</a>
                </strong> 
                {{ .TableOfContents }}
            </li>
            
        {{ end }}
    
        </ul>

    {{ else }}

        <!-- Backlink -->
        <a class='sidebar-nav-backlink' href="/documentation/">← Back to the device selection</a><br><br>

        <!-- Categories -->
        {{ range .Site.Menus.docs }}

            <!-- Displays only current category -->
            {{if or ($currentPage.IsMenuCurrent "docs" .) ($currentPage.HasMenuCurrent "docs" .) }} 
                <!-- Hide "Main Page"-->
                {{if ne .URL "/documentation/" }}
                    <a class='sidebar-nav-item' href="{{ .URL }}">{{ .Name }}</a>
                    <br> 
                    <hr>
                {{end}}

            {{end}}

            
            {{ if and .HasChildren (or ($currentPage.IsMenuCurrent "docs" .) ($currentPage.HasMenuCurrent "docs" .)) }}
    
                <li><ul>

                <!-- Children -->
                {{ range .Children }}
                
                    {{ if not .Page.Params.hidden }}
                        <li><a class='sidebar-nav-subitem {{if $currentPage.IsMenuCurrent "docs" .}}active{{end}}' href='{{.URL}}'>{{ .Title }}</a></li>
                    {{ end }}

                    {{ if .HasChildren }}
                        <li><ul>

                        <!-- Children-Children -->
                        {{ range .Children }}
                            {{ if not .Page.Params.hidden }}
                                <li class="doc_subitem"><a class='sidebar-nav-subsubitem {{if $currentPage.IsMenuCurrent "docs" .}}active{{end}}' href='{{.URL}}'>{{ .Title }}</a></li>
                            {{ end }}
                        {{ end }}


                        </ul></li>
                    {{ end }}
                {{ end }}

                </ul></li>
            {{ end }}
        {{ end }}
    {{ end }}
</nav>