<div class="beta_warning beta_warning_yellow" id="doc_beta_warning">
    <div class="beta_warning_text">
        A note from the author: The documentation is currently in <b>alpha</b> and has <b>known bugs</b> because the content is <b>directly parsed from the wiki</b> without modifications. Known bugs include broken links, missing templates, a broken article order, missing pages and broken tables. These errors will be resolved before the release. Please help to test and improve it! <button onclick="doc_beta_warning_close()">x</button>
        
    </div>
<script>
    function doc_beta_warning_close() {
        var w = document.getElementById("doc_beta_warning");
        w.style.display = "none";
    } 
</script>
</div>