<!-- Previous section -->
{{if .NextInSection}}
    <div class="previous-post">
        <a class="previous" href="{{ .NextInSection.RelPermalink }}">« {{.NextInSection.Title}}</a>
    </div>
{{ else }}
    {{ with index .Pages 0 }}
    <div class="previous-post" style="float:right;">
        <a class="previous" href="{{ .RelPermalink }}">{{ .Title }} »</a>
    </div>
    {{ end }}
{{ end }}

<!-- Next section -->
{{if .PrevInSection}}
    <div class="next-post">
        <a class="next" href="{{ .PrevInSection.RelPermalink }}">{{.PrevInSection.Title}} »</a>
    </div>
{{ end }}
