
<!-- Previous section -->
{{if .NextInSection}}
    <div class="next-post">
        <a class="next" href="{{ .NextInSection.Permalink }}">{{.NextInSection.Title}} »</a>
    </div>

{{ else }}
            
    {{ with index .Pages 0 }}
    <div class="next-post" style="float:right;">
        <a class="next" href="{{ .RelPermalink }}">{{ .Title }} »</a>
    </div>
    {{ end }}
    
{{ end }}

<!-- Next section -->
{{if .PrevInSection}}
    <div class="previous-post">
        <a class="previous" href="{{ .PrevInSection.Permalink }}">« {{.PrevInSection.Title}}</a>
    </div>

{{ end }}
