<div id="footer" class="box full bg_grey">
    <div class="box rows">
        <div class="box cols">
            <div class="col">
                <h2>Get in touch</h2>
                <ul class="menu menu-platforms">
                    <li><a href="https://discord.gg/pine64" target="_blank">Discord</a></li>
                    <li><a href="/community/#chat-platforms">IRC</a></li>
                    <li><a href="/community/#chat-platforms">Matrix</a></li>
                    <li><a href="/community/#chat-platforms">Telegram</a></li>
                    <li><a href="https://forum.pine64.org" target="_blank">Forum</a></li>
                    <li><a href="https://www.reddit.com/r/PINE64official/" target="_blank">Reddit: PINE64</a></li>
                    <li><a href="https://www.reddit.com/r/PinePhoneOfficial/" target="_blank">Reddit: PinePhone</a></li>
                </ul>
            </div>

            <div class="col">
                <h2>News</h2>
                <ul class="menu menu-news">
                    <li><a href="https://twitter.com/thepine64">X (formerly Twitter)</a></li>
                    <!--<li><a href="https://fosstodon.org/@PINE64">Mastodon</a></li>-->
                    <li><a href="https://social.treehouse.systems/@pine64">Mastodon</a></li>
                    <li><a href="https://t.me/PINE64_News">Telegram News</a></li>
                </ul>
            </div>

            <div class="col">
                <h2>Pine Store</h2>
                <ul class="menu menu-store">
                    <li><a href="https://www.pine64.com" target="_blank">🌐 PINE64 Global Store</a></li>
                    <li><a href="https://www.pine64eu.com" target="_blank">🇪🇺 PINE64 EU Store</a></li>
                    <li><a href="/affiliates/">Affiliates</a></li>
                    <li><a href="https://desk.zoho.com/portal/pine64/home" target="_blank">Order support (Global Store)</a></li>
                    <li><a href="/contact/">Contact</a></li>
                </ul>                          
            </div>


            <div class="col">
                <h2>Hoster</h2>
                <a href="https://vpsfree.org/" target="_blank" aria-label="A link to a sponsor website"><img src="/img/vpsfree.png" alt="The logo of a sponsor"></a>
                <a href="https://bbxnet.sk/" target="_blank" aria-label="A link to a sponsor website"><img src="/img/bbxnet.svg" alt="The logo of a sponsor"></a>

                <h2>Guidelines</h2>
                <ul id="menu-community-engagement-and-resources" class="menu">
                    <li><a href="/community/Rules">Code of Conduct</a></li>
                    <li><a href="/community/Brand_and_logo">Brand &#038; Logo information</a></li>
                </ul>
            </div>
        </div>

        <div class="box pad">
            <hr id="footer-line"> 
        </div>

        <div class="box cols bg_grey">
            <img id="footerlogo" src="/img/logo.png" alt="The PINE64 logo">
            <span>&copy; {{ now.Format "2006" }} PINE64</span>
        </div>
    </div>
</div>
