<div id="footer" class="box full themelightgrey pad">
    <div class="box rows">
        <div class="box cols">
            <div class="col">
                <h2>Get in touch</h2>
                <ul id="menu-communication-platforms" class="menu">
                    <li><a href="https://discordapp.com/invite/DgB7kzr">Discord</a></li>
                    <li><a href="/community/">IRC</a></li>
                    <li><a href="/community/">Matrix</a></li>
                    <li><a href="/community/">Telegram</a></li>
                    <li><a href="https://forum.pine64.org">Forum</a></li>
                    <li><a href="https://www.reddit.com/r/PINE64official/">Reddit: PINE64</a></li>
                    <li><a href="https://www.reddit.com/r/PinePhoneOfficial/">Reddit: PinePhone</a></li>
                </ul>
            </div>

            <div class="col">
                <h2>News</h2>
                <ul id="menu-pine-store" class="menu">
                    <li><a href="https://twitter.com/thepine64">Twitter</a></li>
                    <li><a href="https://fosstodon.org/@PINE64">Mastodon</a></li>
                    <li><a href="https://t.me/PINE64_News">Telegram News</a></li>
                </ul>
            </div>

            <div class="col">
                <h2>Pine Store</h2>
                <ul id="menu-pine-store" class="menu">
                    <li><a href="https://www.pine64.com">🌐 PINE64 Global Store</a></li>
                    <li><a href="https://www.pine64eu.com">🇪🇺 PINE64 EU Store</a></li>
                    <li><a href="/affiliates/">Affiliates</a></li>
                    <li><a href="https://desk.zoho.com/portal/pine64/home">Order support (Global Store)</a></li>
                    <li><a href="/contact/">Contact</a></li>
                </ul>                          
            </div>


            <div class="col">
                <h2>Hoster</h2>
                <a href="https://bbxnet.sk/"><img src="/img/bbxnet.svg"></a>

                <h2>Guidelines</h2>
                <ul id="menu-community-engagement-and-resources" class="menu">
                    <li><a href="/community/Rules">Code of Conduct</a></li>
                    <li><a href="/community/Brand_and_logo">Brand &#038; Logo information</a></li>
                </ul>
            </div>
        </div>

        <div class="box pad">
            <hr style="max-width: 80rem; background-color: #999; height: 1px; flex-grow: 1;"> 
        </div>

        <div class="box cols themelightgrey">
            <img class="logo" src="/img/logo.png" height="40" style="margin: 0 2em 0 0.4em;">
            <b>&copy; {{ now.Format "2006" }} PINE64</b>
        </div>
    </div>
</div>