<div id="navigation">
    <div id="nav-border">

        <!-- Navigation -->
        <nav id="nav" class="nav justify-content-center">

            <!-- Logo -->
            <a href="/"><img class="logo" src="/img/logo.png"></a>

            <div class="hamburger"><label for="hamburger">&#9776;</label></div>
            <input type="checkbox" id="hamburger"/>

            <div id="navlinks_right">
                {{$currentPage := .}}
                {{ range .Site.Menus.right }}
                    <!-- Menu item has subitems -->
                    {{ if .HasChildren }}
                        <div class="dropdown">
                            <label class='nav-link d-block
                                {{- if or ($currentPage.IsMenuCurrent "right" .) ($currentPage.HasMenuCurrent "right" .) }} active{{end -}}
                                {{- if eq .Params.external true }} external{{end -}}
                                ' for="{{ .Identifier }}"
                            >
                                {{- .Name | safeHTML -}}
                            </label>
                            <input type="checkbox" id="{{ .Identifier }}" class="dropdown-toggle" />

                            <!-- All children items -->
                            <div class="dropdown-items">
                                {{ range .Children }}
                                    <a class='dropdown-item nav-link
                                        {{- if or ($currentPage.IsMenuCurrent "right" .) ($currentPage.HasMenuCurrent "right" .) }} active{{end -}}
                                        {{- if eq .Params.external true }} external{{end -}}
                                        ' href="{{ .URL }}" 
                                        {{- if eq .Params.external true }}target="_blank" rel="noopener noreferrer"{{ end -}}
                                    >
                                        {{- .Name | safeHTML -}}
                                    </a>
                                {{ end }}
                            </div>
                        </div>
                    <!-- Menu item has no subitems -->
                    {{ else }}
                        <a class='nav-link
                        {{- if or ($currentPage.IsMenuCurrent "right" .) ($currentPage.HasMenuCurrent "right" .) }} active{{end -}}
                        {{- if eq .Params.external true }} external{{end -}}
                        ' href="{{ .URL }}" 
                        {{- if eq .Params.external true }}target="_blank" rel="noopener noreferrer"{{ end -}}>
                        {{- .Name | safeHTML -}}
                        </a>
                    {{ end }}
                {{ end }}
            </div>
        </nav>

    </div>
</div>