<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--
        <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    -->
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/print.css">
    <link rel="icon" type="image/x-icon" href="/img/logo_blue.svg">
    <link rel="stylesheet" type="text/css" href="/css/slider.css">
    <!--
    {{ $title := print .Site.Title " | " .Title }}
    -->
    {{ $title := print .Title " | " .Site.Title }}
    {{ if .IsHome }}{{ $title = .Site.Title }}{{ end }}
    <meta name="color-scheme" content="light only">
    
    <title>{{ $title }}</title>

    <!-- Responsive website -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Page description-->
    {{- if .IsHome -}}
    <meta name="description" content="{{ site.Params.Description }}" />
    {{- else -}}
        {{ if .Params.Description }}
    <meta name="description" content="{{ .Params.Description }}" />
        {{- end }}
    {{- end }}

    <!-- RSS -->
    {{ range .AlternativeOutputFormats -}}
        {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
    {{ end -}}

    
</head>