<head>
    <meta charset="utf-8">

    <!-- Viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" type="image/x-icon" href="/img/logo_blue.svg">
    <!--
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/syntax.css">
    <link rel="stylesheet" type="text/css" href="/css/print.css">
    <link rel="stylesheet" type="text/css" href="/css/slider.css">
    -->

    {{- $style_style := resources.Get "/css/style.css" | minify | fingerprint -}}
    <link rel="stylesheet" href="{{ $style_style.Permalink }}"  integrity="{{ $style_style.Data.Integrity }}">
    {{- $style_syntax := resources.Get "/css/syntax.css" | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $style_syntax.Permalink }}"  integrity="{{ $style_syntax.Data.Integrity }}">
    {{- $style_print := resources.Get "/css/print.css" | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $style_print.Permalink }}"  integrity="{{ $style_print.Data.Integrity }}">
    {{- $style_slider := resources.Get "/css/slider.css" | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $style_slider.Permalink }}"  integrity="{{ $style_slider.Data.Integrity }}">
    {{- $style_docs := resources.Get "/css/documentation.css" | minify | fingerprint -}}
    <link rel="stylesheet" href="{{ $style_docs.Permalink }}"  integrity="{{ $style_docs.Data.Integrity }}">

    {{ $title := print .Title " - " .Site.Title -}}
    {{- if .IsHome -}}{{- $title = .Site.Title -}}{{- end -}}
    
    <title>{{ $title }}</title>

    <!-- Open Graph template -->
    {{- template "_internal/opengraph.html" . -}}

    <!-- Twitter cards template -->
    {{- template "_internal/twitter_cards.html" . -}}

    <!-- RSS -->
    {{ range .AlternativeOutputFormats -}}
        {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
    {{ end -}}

</head>