<style>
.slider {
  width: 100%;
  height: 300px;
  overflow: hidden;
}

figure p {
  position: absolute;
}

figure {
  position: relative;
  width: 400%;
  margin: 0;
  left: 0;
  text-align: center;
  transition: left 2s;
  animation: 10s slidy infinite;
}

.slider figure .slide {
  width: 25%;
  float: left;
}

.slider figure img {
  width: 100%;
  height: 300px;
}

.button_container {
  position: relative;
  top: -30px;
  text-align: center;
}

.slider_button {
  display: inline-block;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: black;
  margin: 0px 15px;
}

#slide-1:target~.slide_container {
  animation: 10s slidy1 infinite;
}

#slide-2:target~.slide_container {
  animation: 10s slidy2 infinite -2.5s;
}

#slide-3:target~.slide_container {
  animation: 10s slidy3 infinite -5s;
}

#slide-4:target~.slide_container {
  animation: 10s slidy4 infinite -7s;
}

#slide-5:target~.slide_container {
  animation: 10s slidy5 infinite -9s;
}

#slide-6:target~.slide_container {
  animation: 10s slidy6 infinite -11s;
}

#slide-7:target~.slide_container {
  animation: 10s slidy7 infinite -13s;
}

#slide-8:target~.slide_container {
  animation: 10s slidy8 infinite -15s;
}

@keyframes slidy {
  0%,21%,100% {left: 0%;}
  25%,46% {left: -100%;}
  50%,71% {left: -200%;}
  75%,96% {left: -300%;}
}
@keyframes slidy1 {
  0%,21%,100% {left: 0%;}
  25%,46% {left: -100%;}
  50%,71% {left: -200%;}
  75%,96% {left: -300%;}
}
@keyframes slidy2 {
  0%,21%,100% {left: 0%;}
  25%,46% {left: -100%;}
  50%,71% {left: -200%;}
  75%,96% {left: -300%;}
}
@keyframes slidy3 {
  0%,21%,100% {left: 0%;}
  25%,46% {left: -100%;}
  50%,71% {left: -200%;}
  75%,96% {left: -300%;}
}
@keyframes slidy4 {
  0%,21%,100% {left: 0%;}
  25%,46% {left: -100%;}
  50%,71% {left: -200%;}
  75%,96% {left: -300%;}
}
@keyframes slidy5 {
  0%,21%,100% {left: 0%;}
  25%,46% {left: -100%;}
  50%,71% {left: -200%;}
  75%,96% {left: -300%;}
}
@keyframes slidy6 {
  0%,21%,100% {left: 0%;}
  25%,46% {left: -100%;}
  50%,71% {left: -200%;}
  75%,96% {left: -300%;}
}
@keyframes slidy7 {
  0%,21%,100% {left: 0%;}
  25%,46% {left: -100%;}
  50%,71% {left: -200%;}
  75%,96% {left: -300%;}
}
@keyframes slidy8 {
  0%,21%,100% {left: 0%;}
  25%,46% {left: -100%;}
  50%,71% {left: -200%;}
  75%,96% {left: -300%;}
}
</style>

<div class="slider">
  <span id="slide-1"></span>
  <span id="slide-2"></span>
  <span id="slide-3"></span>
  <span id="slide-4"></span>
  <span id="slide-5"></span>
  <span id="slide-6"></span>
  <span id="slide-7"></span>
  <span id="slide-8"></span>

  <figure class="slide_container">

    <div class="slide">
      <p>Test1</p>
      <img src="/img/slider_index_1.png" class="slider_image">
    </div>

    <div class="slide">
      <p>Test2</p>
      <img src="/img/slider_index_2.png" class="slider_image">
    </div>

    <div class="slide">
      <p>Test3</p>
      <img src="/img/slider_index_3.png" class="slider_image">
    </div>

    <div class="slide">
      <p>Test4</p>
      <img src="/img/slider_index_4.png" class="slider_image">
    </div>

    <div class="slide">
      <p>Test1</p>
      <img src="/img/slider_index_5.png" class="slider_image">
    </div>

    <div class="slide">
      <p>Test2</p>
      <img src="/img/slider_index_6.png" class="slider_image">
    </div>

    <div class="slide">
      <p>Test3</p>
      <img src="/img/slider_index_7.png" class="slider_image">
    </div>

    <div class="slide">
      <p>Test4</p>
      <img src="/img/slider_index_8.png" class="slider_image">
    </div>


  </figure>

  <div class="button_container">
    <a href="#slide-1" class="slider_button"></a>
    <a href="#slide-2" class="slider_button"></a>
    <a href="#slide-3" class="slider_button"></a>
    <a href="#slide-4" class="slider_button"></a>
    <a href="#slide-5" class="slider_button"></a>
    <a href="#slide-6" class="slider_button"></a>
    <a href="#slide-7" class="slider_button"></a>
    <a href="#slide-8" class="slider_button"></a>
  </div>


</div>