{{ $slides := 8 }}
{{ $sec := 10 }}

<style>
.slideshow {width:350px; height:300px; overflow:hidden; position:relative; }
.slideshow img{ position:absolute; animation:slideshow_anim {{ mul $slides $sec }}s infinite; opacity:0; width: 100%; height: auto;}

@keyframes slideshow_anim {25%{opacity:1;} 40%{opacity:0;}}
{{ range $index, $num := (seq $slides) }}
  .slideshow img:nth-child({{ $num }}){animation-delay: {{ mul $index $sec }}s;}
{{ end }}
</style>

<div class="slideshow">
  <img src="/img/slider_index_1.png">
  <img src="/img/slider_index_2.png">
  <img src="/img/slider_index_3.png">
  <img src="/img/slider_index_4.png">
  <img src="/img/slider_index_5.png">
  <img src="/img/slider_index_6.png">
  <img src="/img/slider_index_7.png">
  <img src="/img/slider_index_8.png">
</div>