{{- $desc := (or .Description .Summary site.Params.description) | plainify | htmlUnescape }}

{{- $img := "" -}}
{{- with index .Params.images 0 }}{{ $img = . }}{{ end -}}
{{- $fallback := "" -}}
{{- if not $img }}{{ $img = $fallback }}{{ end -}}

{{- $data := dict
    "@context" "https://schema.org"
    "@type"    "BlogPosting"
    "headline"    .Title
    "url"     .Permalink
    "image" $img
    "wordcount" .WordCount
    "datePublished" .Date
    "description" $desc
    "inLanguage" .Lang
-}}
<script type="application/ld+json">
{{ $data | jsonify | safeJS }}
</script>
