input {
    padding: 4px 6px !important;
}
input[name="email"], input[name="password"] {
    padding: 10px !important;
}
input[class*=SearchInput] {
    padding: 10px 6px 10px 34px !important;
}
[class*=TopBarContainer], [class*=ToolbarContainer] {
    padding: 4px 6px !important;
    min-height: unset !important;
}
[class*=ControlContainer]:first-of-type {
    margin-top: 16px !important;
}
[class*=ListCardLink]:first-of-type {
    padding: 6px 8px !important;
}
[class*=CreditIcon] {
    display: none !important;
}
[class*=CustomIconWrapper] img {
    margin-bottom: 40px !important;
}
[class*=AppHeaderLogo] img {
    padding: 12px 4px 6px 4px !important;
}

