{{ define "main" }}

<div class="box themecontest full">
    <div class="box rows pad">
        <h1>Contests</h1>

        <p>Contests of the PINE64 community</p>

        <!-- Get the RSS feed URL -->
        {{ with .OutputFormats.Get "rss" -}}
        {{ $rss := .RelPermalink | safeHTML }}
        <a href="{{ $rss }}">
            <div class="hugebutton">Get the RSS feed</div>
        </a>
        {{ end -}}
    </div>
</div>

<div class="box rows pad">
    <div class="blog-list-title"><h2>{{ .Title }}</h2></div>

    {{ $paginator := .Paginate (where .Data.Pages "Type" "contests") 4 }}

    {{ range $paginator.Pages }}

    <a class="summary" href="{{ .RelPermalink }}">
        <div class="box cols  contests-entry eff1">
            <div class="box f25">
                <div class="contests_img_container">
                    {{ with index .Params.images 0 }}
                        <img class="contests-preview" src="{{ . }}" alt="Preview image of the contest."/>
                    {{ end }}
                </div>
            </div>
            <div class="box rows f75 contests-entry">

                <h3>{{ .Title }}</h3>

                {{ partial "blog_date.html" . }}

                <br><br>

                {{ .Summary }} <span>Read more</span>
            </div>
        </div>
    </a>

    {{ end }}
</div>

<div class="box full">
{{ template "_internal/pagination.html" . }}
</div>


{{ end }}

