{{ define "main" }}


<div class="box themecontest full">
    <div class="box rows pad">
        <h1>Contests</h1>

        <p>Contests of the PINE64 community</p>

        <p>
        {{ with .OutputFormats.Get "rss" -}}
        {{ printf `<a href="%s">RSS feed</a>` .Permalink | safeHTML }}
        {{ end -}}
        </p>
    </div>
</div>

<div class="box rows pad">
    <div class="blog-list-title"><h1>{{ .Title }}</h1></div>

    {{ $paginator := .Paginate (where .Data.Pages "Type" "contests") 4 }}

    {{ range $paginator.Pages }}

    <a class="summary" href="{{ .RelPermalink }}">
        <div class="box cols  contests-entry eff1">
            <div class="box f25">
                <div class="contests_img_container">
                    {{if and (isset .Params.cover "image") (ne .Params.cover.image "") }}
                        <img class="contests-preview" src="/contests/images/{{ .Params.cover.image }}"/>
                    {{end}}
                </div>
            </div>
            <div class="box rows f75 contests-entry">

                <h3>{{ .Title }}</h3>

                {{ partial "blog_date.html" . }}

                <br><br>

                {{ .Summary }} <span>Read more</span>
            </div>
        </div>
    </a>

    {{ end }}
</div>

<div class="box full">
{{ template "_internal/pagination.html" . }}
</div>


{{ end }}

