{{ define "main" }}

<div class="box full themegrey">
    <div class="box rows pad">
        <h1>{{ .Title }}</h1>
    </div>
</div>

<div class="box rows pad">
    <div id="search-results"></div>

    <style>
        .spinner {
            margin: 100px auto 0;
            width: 70px;
            text-align: center;
            margin-bottom: 10em;
        }
        .spinner > div {
            width: 18px;
            height: 18px;
            background-color: #ccc;
            border-radius: 100%;
            display: inline-block;
            -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
            animation: sk-bouncedelay 1.4s infinite ease-in-out both;
        }
        .spinner .bounce1 {
            -webkit-animation-delay: -0.32s;
            animation-delay: -0.32s;
        }

        .spinner .bounce2 {
            -webkit-animation-delay: -0.16s;
            animation-delay: -0.16s;
        }
        @-webkit-keyframes sk-bouncedelay {
                0%, 80%, 100% { -webkit-transform: scale(0) }
                40% { -webkit-transform: scale(1.0) }
        }
        @keyframes sk-bouncedelay {
            0%, 80%, 100% { 
                -webkit-transform: scale(0);
                transform: scale(0);
        } 40% { 
                -webkit-transform: scale(1.0);
                transform: scale(1.0);
            }
        }
    </style>

    <div class="search-loading">
        <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
          </div>
    </div>




    <script id="search-result-template" type="text/x-js-template">
    <div id="summary-${key}">
        <h2><a href="${link}">${title}</a></h2>
        <small><h4><a href="${link}">${location}</a></h4></small>
        <p>${snippet}</p>
        <p>
            <small>
                ${ isset tags }Tags: ${tags}<br>${ end }
            </small>
        </p>
        <br><hr><br>
    </div>
    </script>

    {{- $js_fuse := resources.Get "js/fuse/fuse.min.js" | minify | fingerprint -}}
    <script src='{{ $js_fuse.RelPermalink }}' integrity="{{ $js_fuse.Data.Integrity }}"></script>
    {{- $js_mark := resources.Get "js/mark/mark.min.js" | minify | fingerprint -}}
    <script src='{{ $js_mark.RelPermalink }}' integrity="{{ $js_mark.Data.Integrity }}"></script>
    {{- $js_search := resources.Get "js/search.js" | minify | fingerprint -}}
    <script src='{{ $js_search.RelPermalink }}' integrity="{{ $js_search.Data.Integrity }}"></script>
</div>

{{ end }}