<div class="device_box">
    <a href='{{ .Get "link" }}'>
        {{ if .Get "text" }}
            <h3>{{ with .Get "title" }} {{ . }} {{ end }}</h3>
            <p>{{ with .Get "text" }} {{ . }} {{ end }}</p>
        {{ else }}
            <h2>{{ with .Get "title" }} {{ . }} {{ end }}</h2>
        {{ end }}
        
        <div class="device_box_image">
            {{ if .Get "img" }} 
            <img src='{{ .Get "img" }}' alt="Image of the device.">
            {{ end }}
        </div>
    </a>
</div>
