{{ define "main" }}


<div class="box_generic intro_blog">
    <div class="box nonflex">
        <h1>{{ .Title }}</h1>

        <p>{{ .Content | safeHTML}}</p>

        <p>
            Get the <a href="{{.RelPermalink }}index.xml">RSS feed</a>
        </p>
    </div>
</div>



<div class="mid_flex_container bg_grey">
<div class="blog-container">

{{ $paginator := .Paginate (where .Data.Pages "Type" "blog") }}

{{ range $paginator.Pages }}

<div class="blog-preview">
    <a class="summary" href="{{ .RelPermalink }}">

    {{if and (isset .Params.cover "image") (ne .Params.cover.image "") }}
        <div class="blog-cover">
            <img src="/blog/images/{{ .Params.cover.image }}"/>
        </div>
    {{end}}

    <div class="blog-preview-summary">
        <h3>{{ .Title }}</h3>
            <p>{{ .Summary }}</p>
        {{ partial "blog_date.html" . }}
    </div>

    </a>

</div>


{{ end }}

</div>

{{ template "_internal/pagination.html" . }}

</div>

{{ end }}

