{{ define "main" }}

<div class="box full themeblog">
    <div class="box rows pad">
        <h1>{{ .Title }}</h1>

        <p>{{ .Content | plainify}}</p>

        <p>Get the <a href="{{.RelPermalink }}index.xml">RSS feed</a></p>
    </div>
</div>


<div class="box themegradient3 full" >
    <div class="box pad gap">
        {{ $paginator := .Paginate (where .Data.Pages "Type" "blog") 9 }}

        {{ range $paginator.Pages }}

            <div class="box cols f33 themewhite rounded eff1">
                <a class="summary" href="{{ .RelPermalink }}">
                    {{if and (isset .Params.cover "image") (ne .Params.cover.image "") }}
                        <div class="box">
                            <img src="/blog/images/{{ .Params.cover.image }}" alt="Cover image of the blog post">
                        </div>
                    {{end}}

                    <div class="box rows pad_s">
                        <h3>{{ .Title }}</h3>
                            <p>{{ .Summary | strings.Truncate 300 | plainify | htmlUnescape}}</p>
                        {{ partial "blog_date.html" . }}
                    </div>
                </a>
            </div>

        {{ end }}

        {{ template "_internal/pagination.html" . }}
    </div>
</div>


{{ end }}

