{{ define "main" }}
<div class="box">
    <div class="box rows pad blog">
        <a href="/blog/" class="backlink"><img src = "/img/arrow_left.svg" width="14" alt="Backlink to all blog posts">All blog posts</a>

        <div class="blog-header">

            <div class="blog-date">{{ partial "blog_date.html" . }}
                <i>
                {{ if .Params.authors }}
                    by
                    {{ range $i, $e := .Params.authors }}{{ if $i }}, {{ end }}{{ $e }}{{ end }}
                {{ end }}
                </i>
            </div>
            
            <div class="blog-title"><h1>{{ .Title }}</h1></div>
            
        </div>
        
        {{ .Content }}

        {{ if .Params.tags }}
            <hr class="blog-hr">

            {{ partial "blog_tags.html" . }}

            <hr class="blog-hr">

            {{ partial "related.html" . }}
        {{end}}

        <hr class="blog-hr">

        <div class="blog-comments">
        </div>

    </div>
</div>
{{ end }}