/* Documentation */
#doc-container {
    display: flex;
    flex-direction: row;
    font-weight: 300;
    width: 95%;
    flex-wrap: nowrap;
}
#doc-container h2 {
    border-bottom: 1px solid #ddd;
    margin-top: 30px;
    margin-bottom: 20px;
    padding: .2em 0;
}
#doc-breadcrumbs {
    background-color: rgb(248, 249, 250); 
    padding: .5rem 1rem;
    border-radius: .15rem;
    margin-bottom: 1.5rem;
    justify-content: space-between;
    display: flex;
}
#doc-breadcrumbs ul {
    padding-left: 0 !important;
}
#doc-breadcrumbs-icon{
    position: relative;
    top: 2pt;
    padding-right: 2pt;
}
#doc-nav {
    text-overflow: ellipsis;
    padding: 1rem 2rem 1rem 0;
    width: 300px;
    max-width: 400px;
}
#doc-nav ul {
    list-style-type: none
}
#doc-nav a {
    color: #333;
    font-size: .875rem;
}
#doc-nav a:hover {
    color: #2F82C6;
}
#doc-nav a.active {
    color: #2F82C6;
}
#doc-nav nav.sidebar-nav {
    position:-webkit-sticky; 
    position:sticky; 
    top:0;
    max-height: 100vh;
    overflow-x: auto;
}
#doc-nav .sidebar-nav ul {
    padding-left: 0 !important;
}
#doc-nav .sidebar-nav > ul > ul {
    border-left: 1px solid #fafafa;
    margin-left: 10px;
}
#doc-nav .sidebar-nav-backlink {
    font-weight: 500;
    padding: 6px 4px;
}
#doc-nav .sidebar-nav-item {
    font-weight: 500;
    padding: 6px 4px;
    color: #2F82C6;
    font-size: 18px;
}
#doc-nav .sidebar-nav-subitem {
    font-weight: 500;
    box-decoration-break: clone;
    padding: 6px 4px;
    line-height: 2;
}
#doc-nav .sidebar-nav-subsubitem {
    font-weight: 300 !important;
    padding-left: 5px;
    margin-left: 5px;
    box-decoration-break: clone;
}
@media screen and (max-width: 1000px){
    #doc-container {
        flex-direction: column;
    }
    #doc-nav nav.sidebar-nav {
        max-height: 250px;
    }
    #doc-page {
        min-width: none;
        width: 100% !important;
    }
    #doc-nav {
        padding: 1rem 0;
        width: 100%;
        max-width: unset;
    }  
}

#doc-page {
    display: flex;
    flex-direction: column;
    padding: 1rem 0;


    width: 70%;
    max-width: 900px;
}
article {
    min-height: 400px;
}
#doc-container img {
    max-width: 100%;
}
/* Documentation text style */
div#doc-page h1 {
    color: var(--blue);
}
#doc-page article ol {
    margin-bottom: 1em;
}
div#doc-page code {
    font-family: source code pro, lucida console, monospace;
    display: inline-block;
    overflow-x: scroll;
    font-weight: 400;
    max-width: 98%;
    vertical-align: top;
    padding: 0 4px;
}
div#doc-page p code {
    background-color: #f8f9fa;
    border: 1px solid #eaecf0;
    line-height: 1.3;
}
div#doc-page pre {
    background-color: #f8f9fa;
    overflow-x: scroll;
    outline: 1px solid #eaecf0;
}
div#doc-page td pre {
    outline: none;
}
.linenotable {
    border: none;
    margin: 0;
}
.linenotable pre {
    padding: 0;
}
table.linenotable tr td {
    padding-top: 0;
    padding-bottom: 0;
}
td.linenos.gl {
    user-select: none;
}
div#doc-page pre strong, div#doc-page code strong {
    font-weight: 600;
}
div#doc-page .line-through {
    text-decoration:line-through
}

div#doc-page .doc_device_box {
    width: 24em;
    height: 18em;
    text-align: center;
    border-radius: 8pt;
    margin: 10pt; 
    border: 1pt solid rgb(228, 228, 228);
    float: left;
    font-weight: 400;
    color: rgb(74, 74, 74);
}
div#doc-page .doc_device_box a{
    color: rgb(74, 74, 74);
}
div#doc-page .doc_device_box_img_container{
    height: 140px;
    width: 140px;
    padding-top: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
div#doc-page .doc_device_box img{
    max-width: 140px;
    max-height: 140px;
}
div#doc-page .doc_device_box h1{
    color: black;
    font-size: 16pt;
}
div#doc-page .doc_device_box p{
    padding: 0 1em 0 1em;
}
div#doc-page .doc_device_box:hover{
    border-color: #a9cfec;
}
/* To clear the float for the text */
div#doc-page p{
    clear: left;
}
div#doc-page article {
    margin-bottom: 2em;
}
div#doc-page .ulist {
    padding-bottom: 1rem;
}

/* Admonition */
#doc-page .admonitionblock {
    margin: 1.4rem 1rem 1rem 1rem;
}
#doc-page .admonitionblock>table {
    table-layout: fixed;
    position: relative;
    width: 100%;
}
#doc-page .admonitionblock .paragraph:not(:last-child) {
    padding-bottom: 1em;
}
#doc-page .admonitionblock td.content {
    padding: 1rem 1rem .75rem;
    background-color:#fafafa;
    width: 100%;
}
#doc-page .admonitionblock td.icon {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 12pt;
    line-height: 1;
    transform: translate(-.5rem,-50%);
    border-radius: 0.5em;
    padding: 0.3em 0.5em;
}
#doc-page .admonitionblock.caution td.icon {
    background-color: #802392;
    color: white;
}
#doc-page .admonitionblock.important td.icon {
    background-color: #e40046;
    color: white;
}
#doc-page .admonitionblock.note td.icon {
    background-color: #2d7dd2;
    color: white;
}
#doc-page .admonitionblock.tip td.icon {
    background-color: #43b929;
    color: white;
}
#doc-page .admonitionblock.warning td.icon {
    background-color: #f70;
    color: white;
}
