/* Documentation */
body {
    overflow-y: scroll;
}
#header {
    box-shadow: 0 1px 2px #6b6b6b66;
}
#content {
    display: block;
}
#doc-container {
    display: flex;
    justify-content: center;
    padding-top: 50px;
}
#doc-breadcrumbs {
    padding: .5rem 0.5rem;
    border-radius: .15rem;
    margin-bottom: 24px;
    justify-content: space-between;
    display: flex;
}
#doc-breadcrumbs-icon {
    position: relative;
    top: 1pt;
    padding-right: 4pt;
    min-width: 16px;
    min-height: 16px;
    width: 16px;
    height: 16px;
}
.breadcrumb_divider {
    margin: 0 10px;
    font-size: 12px;
    color: #b4b4b4;
}
#doc-toc {
    right: 0;
    padding: 6px 4px;
    border-left: 1px solid var(--blue);
}
#doc-toc a {
    color: var(--fg);
    font-size: 15px;
    font-weight: unset !important;
}
#doc-toc li {
    padding-top: 10px !important;
}
#doc-toc .toc-head {
    font-weight: 500;
}
#doc-toc, #doc-nav {
    width: 250px;
    min-width: 250px;
    padding: 0 20px 0 20px;
    margin-bottom: 20px;
    position: -webkit-sticky;
    position: sticky;
    top: 10px;
    align-self: flex-start;
    overflow-y: auto;
    max-height: 80vh;
}
#doc-nav li, #doc-nav ul, #doc-toc li, #doc-toc ul {
    list-style-type: none;
}
#doc-nav {
    font-size: 15px;
    list-style-type: none;
    left: 0;
    border-right: 1px solid #ddd
}
#doc-nav a {
    color: var(--fg);
}
#doc-nav a:hover {
    color: var(--blue);
}
#doc-nav a.active {
    color: var(--blue);
}
#doc-nav .sidebar-nav ul {
    padding-left: 0 !important;
}
#doc-nav .sidebar-nav ul ul {
    margin-left: 10px;
}
#doc-nav .doc-nav-head {
    color: var(--fg);
    font-weight: 500 !important;
}
#doc-nav li {
    padding-top: 10px;
}
.button_collapse {
    font-weight: 600;
    padding: 5px 10px;
    border-radius: 5px;
    float: right;
    cursor: pointer;
}
.button_collapse:hover, .button_collapse:active {
    background-color: #f1f1f1;
}
#doc-nav .c_active > ul {display: block;}
.active > ul {
    display: block;
}
#doc-page {
    padding: 0 30px 30px 30px;
    flex-grow: 1;
    max-width: 800px;
    overflow: auto;
}
#doc-container img, #doc-container object {
    max-width: 100%;
}
/* Margin for markdown lists */
#doc-page > ol, 
#doc-page > ul {
    margin-bottom: 10px;
    line-height: 1.5;
}
#doc-page > ol li, 
#doc-page > ul li {
    padding-bottom: 4px;
}
/* Margin for adoc lists */
#doc-page .ulist:not(.ulist .ulist):not(.olist .ulist),
#doc-page .olist:not(.olist .olist):not(.ulist .olist) {
    margin-bottom: 10px;
    line-height: 1.5;
}
div#doc-page code {
    font-family: lucida console, monospace;
    display: inline-block;
    overflow-x: auto;
    font-weight: 400;
    max-width: 98%;
    vertical-align: top;
    background-color: var(--bg-code);
    color: var(--fg-code);
    border: 1px solid #79797928;
    line-height: 1.3;
    border-radius: 4px;
    padding: 0 4px;
    /*user-select: all;*/
}
div#doc-page pre {
    margin: unset;
    margin-bottom: 10px;
}
div#doc-page > pre, div#doc-page > code, div#doc-page > pre > code, div#doc-page > .highlight > pre > code {
    width: 100%;
}
div#doc-page pre > code {
    padding: 6px;
}
div#doc-page td pre {
    outline: none;
}
#doc-page .highlight {
    margin-bottom: 10px;
}
div#doc-page > p > code {
    width: unset;
}
.linenotable {
    border: none;
    margin: 0;
}
.linenotable pre {
    padding: 0;
}
table.linenotable tr td {
    padding-top: 0;
    padding-bottom: 0;
}
td.linenos.gl {
    user-select: none;
}
div#doc-page pre strong, 
div#doc-page code strong {
    font-weight: 600;
}
div#doc-page .line-through {
    text-decoration:line-through
}
div#doc-page article {
    margin-bottom: 2em;
}
div#doc-page article > blockquote {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 8px;
    padding-left: 8px;
    border-left: 3px solid #ccc;
}
#doc-page figcaption h4 {
    color: #585858;
    font-weight: 300;
    font-style: italic;
}
#doc-page .box {
    margin: 40px 10px;
}

/* Mobile */
@media screen and (max-width: 1000px){
    #doc-container {
        flex-direction: column;
        padding-top: 20px;
    }
    #doc-nav nav.sidebar-nav {
        max-height: 250px;
    }
    #doc-page {
        padding: 0 10px 0 10px;
    }
    #doc-nav {
        max-width: 100%;
        width: calc(100% - 20px);
        padding: 0 10px 0 10px;
        border: unset;
    }
    #doc-toc, #doc-nav {
        position: unset;
    }
    #doc-breadcrumbs {
        margin-bottom: 14px;
    }
}