@media print {
    /* General */
    #navigation {
        display:none;
    }
    #footer {
        display:none;
    }
    /* Docs */
    .next-post {
        display:none;
    }
    .previous-post {
        display:none;
    }
    #doc-nav {
        display:none;
    }
    #doc-breadcrumbs {
        display:none;
    }
    #doc-container {
        flex-direction: column;
    }
    #doc-nav nav.sidebar-nav {
        max-height: 250px;
    }
    #doc-page {
        min-width: none;
        width: 100% !important;
    }
}