* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #fff;
    font-family: Roboto, sans-serif;
}

:root {
    --blue: #4496da;
    --white: #ffffff;
}
/* Text styles */
a {
    color: var(--blue);
    text-decoration: none;
}
p {
    margin-bottom: 0.6rem;
    line-height: 1.5;
}
li p {
    margin-bottom: 0;
}
th p {
    margin-bottom: 0;
}
td p {
    margin-bottom: 0;
}
h2, h3, h4, h5, h6 {
    color: var(--blue);
    padding: 12px 0 12px 0;
    font-weight: 400;
}
h2 a, h3 a, h4 a, h5 a, h6 a {
    color: var(--blue);
}
.imageblock {
    margin-bottom: 1.6rem;
}
ul, li, ol {
    list-style-position: inside;
}
ul li p, ol li p {
    display: inline;
}
ul, ol {
    padding-left: 1rem;
}
 

hr {
    height: 1px;
    border: none;
    background-color: #ddd;
}

/* Content */
#content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}
/* Default: 1200px content */
#content > div {
    max-width: 1200px;
}

/* Full width content */
.full {
    flex: 1 1 100% !important;
    max-width: none !important;
}
div.box {
    max-width: 1200px;
    display: flex;
    justify-content: center;
    font-size: 1.06rem;
    flex-wrap: wrap;
    text-align: left;
    min-width: 240px;
}
div.box img {
    max-width: 100%;
}
div.box ul{
    padding-bottom: 10px;
}

time {
    padding: 6px 0;
}
.pad {
    padding: 3rem 2rem;
}
.pad_s {
    padding: 1rem 1rem;
}
.pad_s h3 {
    padding-top: 0;
}
.blueshadow {
    filter: drop-shadow(-10px 10px 0px #003380);
}
.gap {
    column-gap: 30px;
    row-gap: 30px;
}
.rows {
    flex-direction: column;
    justify-content: start !important;
    flex: 1 1 auto;
}
.space-between {
    justify-content: space-between !important;
}
.f25 {
    flex: 0 0 25% !important;
}
.f33 {
    flex: 1 1 31% !important;
}
.f50 {
    flex: 1 1 49% !important;
}
.f75 {
    display: flex;
    justify-content: start;
    flex: 0.75 0.75 0 !important;
}
.l400 {
    max-width: 440px !important;
}
.rounded {
    border-radius: 10px;
}
.rounded img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.eff1:hover h3 {
    color: #e40046;
}
.eff1:hover img {
    transform: scale(1.05);
}
.eff1 img {
    transition: transform .5s ease;
}
.eff1 .box {
    overflow: hidden;
}

/* Colors */
div.themeblue {
    background: linear-gradient(90deg, #2868B0 0%, #2F82C6 100%);
    color: white;
}
div.themegrey {
    background-color: #F3F6F9;
    color: black;
}
div.themegrey p { 
    color: #777;
}
div.themewhite {
    background-color: #FFF;
    color: black;
}
div.themewhite h3 { 
    color: #333;
}
div.themewhite p { 
    color: #222222;
}
div.themecommunity {
    background-color: #003380;
    color: white;
    height: 15vw;
    min-height: 300px;
    background-image: url('/img/community_top_left.svg'), url('/img/community_top_right.svg');
    background-repeat: no-repeat, no-repeat;
    background-size: contain;
    background-position: left, right;
}
div.themecommunity h1 {
    font-size: 48pt;
    font-weight: 400;
    width: 600px;
}
div.themecommunity .box {
    display: flex;
    align-items: center;
    justify-content: center;
}
@media screen and (max-width: 1000px){
    div.themecommunity {
        min-height: 200px;
    }
    div.themecommunity h1 {
        font-size: 30pt;
        max-width: 100%;
    }
}
div.community_round {
    background-color: #003380;
    max-width: none !important;
    width: 100%;
    height: 10px;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
}
div.themecontest {
    background-color: rgb(211, 211, 211);
    background-image: url("/img/tria2_i.svg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    text-shadow: 2px 2px 8px black;
    font-weight: 500;
}
div.themelightblue {
    background-color: #e4f0ff;
}
div.themelightgrey {
    background-color: #e6e6e6;
}
div.themevlblue {
    background-color: #eff7f9;
}
div.themeblog {
    color: white;
    font-weight: 400;
    background-color: #333;
    background-image: url("/img/bg2.svg");
    background-repeat: no-repeat;
    background-size: cover;
}
div.themeblogpreview {
    background-color: white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
div.themeblogpreview:hover {
    /*box-shadow: rgba(0, 105, 181, 0.4) 0px 8px 24px;*/
    transform: scale(1.02); 
    box-shadow: 0 0 0 3px rgba(0, 123, 255, .5);
}
div.themegradient1 {
    background: rgb(131,58,180);
    background: linear-gradient(-125deg, rgba(131,58,180,1) 0%, rgba(91,137,255,1) 100%); 
    color: white;
}
div.themegradient2 {
    background: #A770EF;
    background: -webkit-linear-gradient(to right, #FDB99B, #CF8BF3, #A770EF);
    background: linear-gradient(to right, #FDB99B, #CF8BF3, #A770EF);
}
div.themegradient3 {
    background: #E55D87;
    background: -webkit-linear-gradient(to right, #5FC3E4, #E55D87);
    background: linear-gradient(195deg, #5FC3E4, #E55D87);
}
div.themegradient4 {
    color: white;
    background: rgb(1,63,133);
    background: linear-gradient(10deg, rgba(1,63,133,1) 0%, rgba(59,142,232,1) 100%); 
}
div.themegradient5 {
    color: white;
    background-color: #8559d8;
    background: linear-gradient(45deg, #8559d8, #20bd8b);
}
div.themedarkblue {
    background-color: #436592;
}
div.themedarkgrey {
    color: white;
    font-weight: 400;
    background-color: #222;
}

/* Pagination */
ul.pagination{
    list-style-type: none;
    display: flex;
    padding-bottom: 2rem;
    margin: 0 auto;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}
ul.pagination li{
    color: #333;
    margin: 2px;
    padding: 2px 6px;
    text-align: center;
    font-size: 1.31rem;
    font-weight: 600;
    margin-bottom: 3rem;
    background-color: #f5f5f5;
}
ul.pagination li.disabled{
    display: none;
}
ul.pagination li a{
    /*padding: 4px 8px;*/
    line-height: 2rem;
    color: #333;

}
ul.pagination li.active a, ul.pagination li a:hover{
    color: #0069B5;
}

div.ulist{
    padding-left: 2rem;
}
div.olist{
    padding-left: 2rem;
}

/* Paragraph and section margins */
.paragraph .right {
    float: right;
}

/* Blockquotes */
.quoteblock { 
   margin: 0 48px;
}
pre {
    margin: 0.6rem;
    color: #444;
    font-family: source code pro, lucida console, monospace;
    font-size: 16px;
    font-weight: 400;
    background-color: none;
}

/* Prevent the "$ " part in rouge: console from being selected */
.gp, .w {
    user-select: none;
}

/* Headlines */
h1 {
    font-size: 2rem;
    padding-bottom: 20px;
}
h2 {
    font-size: 1.3rem;
}
#header {
    display: flex;
    justify-content: center;
    width: 100%;
}
#header-container {
    background-color: white;
    /*border-bottom: 1px solid #ddd;*/
    max-width: 1200px;
    /*margin: auto;*/
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;

}
#header-container #hamburger {
    margin: 20px;
}
#hamburger, input#hamburger_cb, .dropdown-toggle { 
    display: none;
}
#header-container #logo {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    margin-top: 10px;
}

#header-container #logo img {
    height: 66px;
    padding: 6px 10px 0 20px;
}
#header-container #search {
    flex-grow: 2;
    margin: 10px;
}
#header-container #search form {
    display: flex;
    justify-content: center;
}
#header-container #search input {
    padding: 0 10px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    background-color: #F3F6F9;
    border: none;
    color: #333;
    height: 38px;
    width: 70%;
}
#header-container #search input:focus {
    border: 1px solid #0069B5;
    outline: 0;
    width: calc(100% - 38px);
    transition: all 0.1s ease-in-out;
}
#header-container #search button {
    padding: 0 9px;
    box-shadow: none;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    background-color: #4384da;
    border: none;
    height: 38px;
    width: 38px;
}
#header-container #search button svg {
    height: 14px;
    width: 22px;
}
#header-container #additional {
    min-width: 100px;
    margin: 16px 10px 10px 30px;
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
}
@media screen and (max-width: 1000px){
    #header-container {
        width: 100%;
        justify-content: space-between;
    }
    #header-container #logo {
        order: 1;
    }
    #header-container #additional {
        order: 2;
    }
    #header-container #search {
        order: 3;
    }
}
#header-notice {
    background-color: white;
    width: 100%;
    flex: 1;
}
#header-notice-text {
    color: #222;
    max-width: 1200px;
    margin: 0 auto;
    padding: 6px 38px;
    font-weight: 400;
}
#header-notice-text p {
    margin-bottom: 0;
    line-height: 1.2;
}
#header-notice-text a {
    color: #222;
    text-decoration: underline;
}
#main_menu { 
    display: flex; 
    margin: 0 auto;
}
#main_menu .nav-link {
    padding: 15px;
    color: black;
    text-decoration: none;
    font-size: 1.13rem;
    white-space: nowrap;
    box-sizing: border-box;
    border: solid 2px transparent;
}
#main_menu .nav-link:hover { 
    color: #0069B5;
    border-bottom: 2px solid #0069B5;
}
#main_menu .nav-link.active { 
    color: #0069B5;
    border-bottom: 2px solid #0069B5;
}
.dropdown-items {
    display: none;
    position: absolute;
    margin-top: 28px;
    z-index: 1;
    background-color: white;
    border: 1px solid #ddd;
    border-bottom-right-radius: 10px;
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
    overflow: visible;
    flex-direction: column;
}
.dropdown-item:hover {
    color: #0069B5;
}
.dropdown-items .dropdown-item {
    border-top: 1px solid #ddd;
    padding: 10px;
}
.dropdown-items .dropdown-item:first-of-type {
    border-top: none;
    font-weight: 500;
}
.dropdown-toggle:checked ~ .dropdown-items, .dropdown-toggle:hover ~ .dropdown-items {
    display: flex;
}
.dropdown-items:hover {
    display: flex;
}

@media screen and (max-width: 1000px){
    /* Break up menu */
    #main_menu { 
        margin-left: 0;
        width: 100%;
        height: 100%;
        background: white;
        background: linear-gradient(90deg, white 54%, rgba(25,25,25,0.4) 54%);
        backdrop-filter: blur(4px);
        position: absolute;
        top: 140px;
        z-index: 999;
        border-top: 2px solid #eee;
        border-bottom: 2px solid #eee;
        padding-bottom: 20px;
    }
    #main_menu .nav-link {
        box-sizing: border-box;
        display: block;
        width: 100%;
        padding: 14px 20px;
    }
    #main_menu .nav-link:hover, #main_menu .nav-link.active  { 
        box-shadow: none;
        color: #2969B1;
        border: none;
    }
   
    /* Hamburger icon */
    #hamburger {
        display: block;
        padding: 0 10px;
        background-color: #2969B1;
        border-radius: 5px;
    }
    #hamburger:hover{
        box-shadow: 0 0 15px rgba(92, 123, 182, 0.7);
    }
    #hamburger label { 
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        color: white;
        font-style: normal;
        font-size: 1.4rem;
    }
  
    /* Toggle menu */
    #main_menu {
        display: none;
    }
    input#hamburger_cb:checked ~ #main_menu {
        display: block;
    }
    .dropdown label {
        display: flex; justify-content: flex-end
    }
}

button.rounded {
    padding: 0.6rem 2rem;
    background-color: #2868B0;
    border-radius: 20pt;
    color: white;
    border: none;
    max-width: 200px;
}
button.rounded:hover {
    box-shadow: 0 0 15px rgba(92, 123, 182, 0.7);
}


/* Index page */
.index_news a {
    color: #333;
}

/* Blog posts */
.backlink {
    color: rgb(10, 83, 154);
    font-weight: 800;
    font-size: 1.08rem;
}
.backlink img {
    padding-right: 2px;
}
.backlink:hover {
    color: #222;
}

.blog {
    word-wrap: break-word;
    overflow-wrap: break-word;
    word-break: break-word;
}

.blog pre {
    white-space: wrap;
}

.blog p img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    padding: 10px 0;
}
.blog > p > img {
    max-height: 670px;
}
.blog > video {
    max-width: 1200px;
    width: 100%;
}
.blog-header {
    width: 100%;
    margin-top: 20px;
}
@media screen and (max-width: 1100px){
    .blog-header {
        display: block; 
        float: left;
    }
    .blog-tags {
        display: block;
        max-width: 100%;
    }
}
.blog-date {
    padding: 0 0 10px 0;
}
.blog-title {
    display: flex; 
}
.blog-tags {
    /*text-transform: uppercase;*/
    display: flex; 
    flex-wrap: wrap;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 500;
}
.blog-hr {
    margin: 40px 0;
}
.blog-tags:before{
    content: '#';
    color: #555;
    font-weight: 900;
    position: relative;
    top: -5px;
    padding-right: 5px;
}
.blog-tags a {
    color: #555;
    margin: 0.2rem;
}
.blog-tags a:hover {
    border-bottom: 4px solid #013F85;
}

div.credits {
    margin: -8px 0 12px 6px;
    color: #555;
    font-weight: 400;
    font-size: 14px;
}

/* Devices */
.headerbox {
    width: 100%;
    display: flex;
    flex-wrap: wrap-reverse;
    margin-bottom: 2rem;
    margin-top: 2rem;
    justify-content: space-between;
    align-items: center;
}
.namebox {
    max-width: 500px;

    margin-right: 1rem;
    font-size: 2.31rem;
    line-height: 1.1;
}
.namebox span {
    color: #013F85;
}
.imagebox {
    max-width: 500px;
    max-height: 500px;
    object-fit: contain;
}
.imagebox img {
    max-width: 500px;
    max-height: 500px;
}
@media screen and (max-width: 1000px){
    .headerbox {
        flex-direction: row;
        justify-content: flex-start;
    }
    .imagebox img {
        max-width: 100%;
    }
    .namebox {
        padding-top: 30px;
        font-size: 1.5rem;
    }
    .deviceshr {
        margin-left: 1rem;
    }
}
.devices table {
    border: none;
    border-spacing: 0;
}
.devices tbody {
    background-color: white;
}
.devices td {
    border-top: 1px solid #aaa;
    padding: 16px 12px 16px 12px;
}
.devices h2, .devices h2 a {
    color: #4384da;
    font-size: 1.88rem;
    font-weight: 700;
}
.devices h3, .devices h3 a {
    font-size: 1.5rem;
    font-weight: 400;
}
.deviceshr {
    background-color: #021d3b;
    width: 100px;
    height: 24px;
}
.flexbox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 10px;
    row-gap: 20px;
    justify-content: flex-start;
    margin-bottom: 50px;
}
/* Device box */
.device_box {
    flex: 0 0 100%;
    min-width: 200px;
    width: 280px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    margin: 0 10px 10px 0;
    transition: transform .2s ease-in-out;
    flex:none;
}
.device_box:hover {
    transform: scale(1.02); 
    box-shadow: 0 0 0 3px rgba(0, 123, 255, .5);
}
.device_box_image {
    display: flex;
    max-height: 240px;
    justify-content: center;
}
.device_box_image img {
    margin: 14px;
    object-fit: contain;
    max-width: 80% !important;
    max-height: 200px;
}
.device_box h3 {
    padding: 12px 10px 12px 10px;
    font-size: 1.13rem;
    font-weight: 400;
}
.device_box h2 {
    padding: 22px 10px 32px 10px;
    font-size: 1.5rem;
    font-weight: 400;
    text-align: center;
}
.device_box p {
    padding: 0 10px 0 10px !important;
    color: #555;
    font-size: 0.94rem;
    font-weight: 400;
    margin-bottom: 0;
}

/* Community people boxes */
.person_box {
    border: 2px solid #f4f6f8;
    border-bottom: 4px solid #0069B5;
    background-color: white;
    margin: 16px;
    width: 200px;
    flex: 0;
    transition: scale .05s linear;
}
.person_box_image img {
    width: 200px;
    height: auto;
    max-width: 200px !important;
}
.person_box h3 {
    padding: 6px 10px 8px 10px;
    font-weight: 600;
    letter-spacing: 0.1rem;
    font-size: 16pt;
    color: #444;
}
.person_box p {
    padding: 0 10px 4px 10px;
    line-height: normal;
    font-weight: 600;
    letter-spacing: 0.1rem;
    font-size: 14pt;
    color: rgb(84, 164, 217);
}
.person_box:hover {
    scale: 1.05;
}

/* Tables */
table {
    text-align: left;
    width: 100%;
    max-width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 1px solid #dee2e6;
}

table td,
table th {
    padding: 0.1rem 0.1rem 0.1rem 0.3rem;
    vertical-align: top;
    margin-bottom: 0;
}
table td p, table td .paragraph {
    padding: 0;
}
table td {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
table td.halign-right, table th.halign-right {
    text-align: right;
}
table td.halign-center, table th.halign-center {
    text-align: center;
}
thead {
    background-color: #ececec;
    margin-bottom: 0;
}

tbody {
    background-color: #f8f8f8;
    margin-bottom: 0;
}


/* Table of contents */
nav#TableOfContents {
    margin-bottom: 14px;
}
nav#TableOfContents ul, li{
    padding-bottom: 0 !important;
}
nav#TableOfContents > ul, li{
    padding-left: 0 !important;
}
nav#TableOfContents ol {
    list-style: inside decimal;
}
nav#TableOfContents ul li, ol li {
    padding: 4px 4px;
}
nav#TableOfContents ul li ul li {
    font-weight: 300 !important;
}
nav#TableOfContents ul ul, ol ol {
    padding-left: 1.4em;
}

/* Podcast page */
button.podcast {
    padding: 1.4rem 2rem;
    margin-right: 10pt;
    margin-bottom: 10pt;
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid #333;
    border-radius: 12pt;
    font-weight: 600;
    font-size: 1rem;
    color: #333;
    max-width: 200px;
}
button.podcast-blue {
    background-color: #2868B0;
    border: none;
    color: white;
}
button.podcast:hover {
    background-color: #333;
    color: white;
}
.podcast_row a:hover > .podcast_desc h3, .podcast_row a:hover > .podcast_desc {
    color: #0069B5;
}
.podcast_desc {
    padding: 3rem;
}
button.podcast:hover {
    background-color: #333;
    color: white;
}
.podcast_preview:hover p, .podcast_preview:hover h3{
    color: #0069B5;
}
@media screen and (max-width: 1000px){
    .podcast_row .coverimg {
        height: 100px;
    }
    .podcast_desc {
        padding: 0;
    }
}

/* Contests */
.contests-entry {
    padding: 10px 10px 60px 10px;
}
.contests-entry h3 {
    font-size: 1.88rem;
    padding: 0;
}
.contests_img_container {
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
}
.contests-entry p {
    color: #555;
}
.contests-entry span {
    color: #0069B5;
}
@media screen and (max-width: 1000px){
    .contests-entry {
        flex-wrap: wrap;
    }
    .eff1 .box {
        overflow: visible !important;
    }
}

/* Youtube partial */
.video-container {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
}
.video-container img {
    max-height: 664px !important;
}
.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.yt_prev {
    cursor: pointer;
    width: 100%;
    z-index: 0;
    position: relative;
}
.yt_overlay_content{
    position: absolute;
    z-index: 2;
    background: url(/img/youtube_button.svg) center center / auto 4rem no-repeat;
    width: 100%;
    height: 100%;
}
.yt_pb {
    position: absolute;
    z-index: 2;
    background: url(/img/youtube_button.svg) center center / auto 4rem no-repeat;
    width: 100%;
    height: 100%;
}
.yt_pb:hover {
    background: url(/img/youtube_button_hover.svg) center center / auto 4rem no-repeat;
}
.yt_lbl {
    position: absolute;
    z-index: 2;
    bottom: 0;
    right: 0;
    height: 30px;
    width: 140px;
    background: no-repeat center/80% url(/img/youtube.svg);
    background-color: rgba(0, 0, 0, 0.7);
    padding: 1rem;
}
.yt_note {
    position: absolute;
    z-index: 2;
    bottom: 0;
    left: 0;
    min-height: 40px;
    width: 50%;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 1rem;
}

/* Footer */
#footer {
    color: #555;
}
#footer a {
    text-decoration: none;
    font-weight: 300;
    color: #555;
}
#footer ul {
    list-style-type: none;
    padding: 0;
    margin: 0 0 20px 0;
}
#footer .col {
    margin: 0.4rem;
    flex: 1 1 0px;
    line-height: 1.5;
}
#footer #footerlogo {
    max-width: 130px;
    height: auto;
    margin: 0 2rem 2rem 0.4rem;
}
#footer span {
    font-weight: 300;
    margin-top: 0.6rem;
}
#footer-line {
    max-width: 80rem;
    background-color: #999;
    height: 1px;
    flex-grow: 1;
}
@media screen and (max-width: 1000px){
    #footer {
        min-width: unset;
    }
    #footer .box {
        display: block;
        min-width: unset;
    }
    #footer .cols {
        padding: 0 1em;
    }
}