/* Dark mode */

/* This is currently not used */

@media (prefers-color-scheme: dark) {
    body {
      color: #eee;
      background: #222;
    }
    #navigation {
        background-color: #222;
        border-bottom: 1px solid #444;
    }
    #navlinks_right .nav-link {
        color: white;
    }
    #navlinks_right .active {
        color: #0069B5;
    }
    #content {
        color: white;
    }

    div.bg_grey {
        background-color: #222;
    }
    div.themegrey {
        background-color: #333;
        color: white;
    }
    div.themewhite {
        background-color: #444;
        color: white;
    }
    div.cr {
        background-color: #383838;
    }
    #footer {
        background-color: #333;
        color: white;
    }
    #footer a {
        color: white;
    }
    thead {
        background-color: #333;
    }
    tbody {
        background-color: #333;
    }
    table {
        border: 1px solid #333
    }
    #doc-nav a {
        color: white;
        font-size: .875rem;
    }
    div#doc-page code {
        background-color: #333;
        border: 1px solid #444;
    }
    #doc-breadcrumbs {
        background: #333;
    }
    .contests-entry a {
        color: white;
    }
    .intro_podcast {
        background-color: #525c69;
    }
    .podcast-container a {
        color: white;
    }
    .blog-cover {
        background-color: #333;
    }
    .blog-preview {
        background-color: #333;
    }
    .blog-preview a {
        color: white;
    }
    .blog-preview-summary time {
        color: rgb(165, 165, 165);
    }
    div.indexblog {
        background-color: #222;
    }
    .dropdown-items {
        background-color: #333;
    }
}